body {
    background-color: #013b7c;
}

.container {
    text-align: center;
}

ul {
    list-style: none;
}


.nav-item {
    cursor: pointer;
}

.element {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #35465a;
}

.element:hover {
    color: #292804;
    text-decoration: none;
}

.todoContainer:hover {
    background-color: rgb(240, 240, 160);
}

.fa-solid,
.fa-sharp,
.fa-regular,
.fas {
    font-size: 1.7rem;
    cursor: pointer;
}

.fa-trash-can,
.fa-times-circle {
    color: red;
}

.fa-edit,
.fa-check-circle {
    color: green;
}

.fa-square-plus {
    color: darkblue;
    font-size: 2.5rem;
    top: 0.5rem;
}

.row {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.action-btn {
    border: 0;
}

.container-form {
    background: #424c57;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    border: 3px solid;
    border-radius: 25px;
    padding: 4%;
}

.submitTodo {
    margin: auto;
}

.title-contains {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}